@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.setSize {
  border: solid 2px;
  width: 54rem;
  margin: 0 auto;
  height: 49.9rem;
  background-color: #000000;
  border-radius: 1rem;
}

.title {
  text-align: center;
  font-size: 7em;
  font-family: "bitbit";
  background: linear-gradient(180deg, #ff6e7f 0%, #bfe9ff 80%, #bfe9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 0px 20px rgba(233, 110, 76, 0.4);
  padding: 1rem 0rem 1rem 0rem;
}

.question {
  padding: 2rem 0;
  font-size: 2.5rem;
  text-align: center;
  font-family: "DungGeunMo";
  color: #ffffff;
}

.button {
  margin: 2rem auto;
  border: 4px solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(178.55deg, #ffdde1 -0.42%, #ee9ca7 97.7%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 15rem;
  border-radius: 1rem;
  font-family: "DungGeunMo";
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

/* .button:hover {
  color: #ff6e7f;
} */

.subjects {
  border: 4px solid transparent;
  background-image: linear-gradient(#000, #000),
    linear-gradient(178.55deg, #ffdde1 -0.42%, #ee9ca7 97.7%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 80%;
  height: 24rem;
  /* height: 100%; */
  margin: 0.5rem auto;
  border-radius: 1rem;
  display: flex;
}

.buttons {
  /* display: flex; */
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

/* .buttons > div:hover {
  color: #ff6e7f;
} */

.select {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
}

.selectA {
  border-right: 4px solid transparent;
  border-image: linear-gradient(178.55deg, #ffdde1 -0.42%, #ee9ca7 97.7%);
  border-image-slice: 1;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(178.55deg, #ffdde1 -0.42%, #ee9ca7 97.7%);
  border-image-slice: 1;
  font-weight: bold;
  height: 4rem;
}

/* .q1,
.q2,
.buttons {
  display: none;
} */

.q1,
.q2 {
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  height: 17rem;
  padding: 1rem;
}

.subject {
  
  justify-content: center;
  align-items: center;
  height: 19rem;
  font-size: 3.2rem;
  font-family: "LeferiPoint-WhiteObliqueA";
  color: #fff;
}

.bunnyImg {
  height: 10em;
  display: block;
}

.imgDiv {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  transition: all 0.5s;
}

.imgDiv:hover {
  padding-top: 6.6rem;
}

.romOrNor{
  transition: all 0.7s;
}

/* .romOrNor:hover {
  color: #ff6e7f;
} */

.gameBox {
  /* cursor: pointer;
  transition: all 0.5s; */
  text-shadow: 0 0 5px #ff6e7f,
  0 0 10px #ff6e7f,
  0 0 20px #ff6e7f;
  transform: scale(1.1);
}