
.createBtn {
	/* font-family: "maplestory"; */
  font-size: 1rem;
  position: relative;
  display: inline-block;
  /* color: #fff; */
	font-weight: bold;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* overflow: hidden; */
  transition: .3s;
	margin-left: 10px;
	margin-right: 10px;
  padding: 5px 35px;
  margin-bottom: 5px;
	margin-top: 10px;
  border: 2px solid white;
  border-radius: 5px;
  /* border: none; */
  outline: none;
  background: transparent;
  box-shadow: 0 0 5px rgba(0, 26, 255, 0.5),
              0 0 10px rgba(0, 26, 255, 0.5),
              0 0 15px rgba(0, 26, 255, 0.5),
              0 0 25px rgba(0, 26, 255, 0.5);
}

.createBtn:hover {
  /* background: rgba(248, 248, 248, 0.185); */
  color: rgb(150, 183, 255);
  box-shadow: 0 0 5px rgba(0, 26, 255, 0.5),
              0 0 15px rgba(0, 26, 255, 0.5),
              0 0 35px rgba(0, 26, 255, 0.5),
              0 0 75px rgba(0, 26, 255, 0.5);
}


.cancelBtn {
	/* font-family: "maplestory"; */
  font-size: 1rem;
  position: relative;
  display: inline-block;
  /* color: #fff; */
	font-weight: bold;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* overflow: hidden; */
  transition: .3s;
	margin-left: 10px;
	margin-right: 10px;
  padding: 5px 35px;
  margin-bottom: 5px;
	margin-top: 10px;
  border: 2px solid white;
  border-radius: 5px;
  /* border: none; */
  outline: none;
  background: transparent;
  box-shadow: 0 0 5px rgba(255, 51, 51, 0.5),
              0 0 10px rgba(255, 51, 51, 0.5),
              0 0 15px rgba(255, 51, 51, 0.5),
              0 0 25px rgba(255, 51, 51, 0.5);
}

.cancelBtn:hover {
  /* background: rgba(248, 248, 248, 0.185); */
  color: rgb(255, 124, 190);
  box-shadow: 0 0 5px rgba(255, 51, 51, 0.5),
              0 0 15px rgba(255, 51, 51, 0.5),
              0 0 35px rgba(255, 51, 51, 0.5),
              0 0 75px rgba(255, 51, 51, 0.5);
}