.titlespan{
  position: absolute;
  width: 651px;
  height: 100px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  text-align: center;

  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1{
  z-index: 10;
  position: absolute;
  margin-top: 210px;
  /* bottom: 0; */
  /* margin-right: 20px; */
}

.img2{
  z-index: 10;
  position: absolute;
  margin-top: 310px;
  margin-left: 350px;
}

input.txt {
  width:80px;
}

.box {
  width: 54rem;
  margin: 0 auto;
  height: 48.5rem;
  background-color: #000000;
  /* border: solid 10px red; */
  border-radius: 1rem;
}

.box2 {
  position: absolute;
  width: 652px;
  height: 92px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 85px;
  text-align: center;

  color: #FFA149;

  text-shadow: 0px 0px 30px #FF0000;
}

.box22 {
  width: 652px;
  height: 92px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 85px;
  text-align: center;


  color: #FFFFFF;

  text-shadow: 0px 0px 30px #70FF00;
  -webkit-text-stroke: 1px #007C2A;
}

.box3 {
/* 손가락 접기 */
  /* position: absolute; */
  width: 196px;
  height: 36px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;

  -webkit-text-stroke: 1px #FFA149;
  text-shadow: 0px 0px 30px #FF0000;
}


.layout {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
} 

.layout2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
} 

.layout3 {
  display: flex;
  justify-content: center;
} 

.layout4 {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  width: 650px;
  height: 80px;
  border-radius: 0.7rem;
  border: 1px solid #FFD098;
  box-shadow: 0px 0px 30px #FFD687;
  margin-top: 0px;

  /* 주제 */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
} 

.layout5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 260px;
  margin-left: 0px;
} 

.layout6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
} 

.retry{
  box-sizing: border-box;
  border-radius: 0.3rem;
  margin: 0 20px;
  margin-top: -10px;

  width: 207px;
  height: 78px;

  background: #131313;
  box-shadow: 0px 0px 20px #FFA0A0;

  /* PLAY */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;

  border: 1px solid #FFD098;
  text-shadow: 0px 0px 15px #FF0000;
  cursor: pointer;
}

.retry:hover{
  color: #FFA149;

  border: 1px solid #FFD098;
  text-shadow: 0px 0px 15px #FF0000;
  cursor: pointer;
}

.buttons {

  margin-top: 150px;
}

.text1{
  width: 170px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  text-align: center;

  color: #FFFFFF;

  -webkit-text-stroke: 1px solid #FFA149;
  text-shadow: 0px 0px 30px #FF0000;
}

.text2{
  width: 270px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 29px;
  line-height: 36px;
  text-align: center;

  color: #FFFFFF;
}

.text3{
  width: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 42px;
  text-align: center;

  color: #FFFFFF;

  -webkit-text-stroke: 1px solid rgba(0, 124, 42, 0.92);
  text-shadow: 0px 0px 30px #70FF00;
}

.answerInput {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  border-radius: 2rem;
  color: #131313;
}