.titlespan{
  position: absolute;
  width: 651px;
  height: 100px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  text-align: center;

  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ladderForm { 
  width: 54rem;
  margin: 0 auto;
  height: 48.9rem;
  background-color: #000000;
  /* border: solid 10px red; */
  border-radius: 1rem;
}

.ladderDiv{
  z-index: 1;
}

div.tableDiv {
  margin-left:50px;
}

td.hTD {
  width:100px;
  height:2px;
  background-color:#FFD687;
  box-shadow: 0px 0px 30px 0px #FFD687;
}

td.vTD {
  width:2px;
  height:30px;
  background-color:#FFD687;
  box-shadow: 0px 0px 30px 0px #FFD687;
}

td.dotTD {
  width:2px;
  height:2px;
  background-color:#FFD687;
  box-shadow: 0px 0px 30px 0px #FFD687;
}


td.blankTD {
  width:100px;
  height:2px;
}

span.txtSpan {
  width:100px;
  text-align:center;
  margin-right: 20px;
}

span.txtSpan2 {
  width:100px;
  text-align:center;
}

span.txtSpan3 {
  /* z-index: 10; */
}

input.result {
  width:80px;
}
input.txt2 {
  width:80px;
  /* z-index: 4; */
}
.box {
  /* box-sizing: border-box; */
  /* position: absolute; */
  width: 755px;
  height: 550px;
  border-radius: 2rem;
  box-shadow: 0px 0px 30px #FFD687;
  margin: auto;
}

.box2 {
  /* box-sizing: border-box; */
  position: absolu3te;
  width: 755px;
  height: 550px;
  border-radius: 2rem;
  box-shadow: 0px 0px 30px #FFD687;
  margin: auto;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.layout2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: auto;
} 

.layout3 {
  display: flex;
  justify-content: center;
  margin-top: -5px;
} 

.Drink{
  margin-left: 10px;
}

.retry{
  /* box-sizing: border-box; */
  display: block;
  margin: auto;
  margin-top: -80px;
  margin-left: 30px;
  margin-right: 30px;
  width: 150px;
  height: 50px;

  background: #131313;
  box-shadow: 0px 0px 20px #FFA0A0; 
  border-radius: 0.3rem;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;

  border: 1px solid #FFD098;
  text-shadow: 0px 0px 15px #FF0000;
}

.button {
  border: solid 1px #fff;
}