.titlespan{
  position: absolute;
  width: 651px;
  height: 100px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  text-align: center;

  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1{
  z-index: 10;
  position: absolute;
  margin-top: 574px;
  /* bottom: 0; */
  /* margin-right: 20px; */
}

.img2{
  z-index: 10;
  position: absolute;
  margin-top: 340px;
  /* margin-right: 20px; */
}

.ladderimg{
  z-index: 10;
  position: absolute;
  margin-top: 46px;
}

/* input.txt {
  width:80px;
} */

.box {
  width: 54rem;
  margin: 0 auto;
  height: 48.9rem;
  background-color: #000000;
  /* border: solid 10px red; */
  border-radius: 1rem;
}

.box2 {
  box-sizing: border-box;

  width: 755px;
  height: 160px;

  /* background: #131313; */
  box-shadow: 0px 0px 30px #FFD687;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 121px;
  text-align: center;
  border-radius: 1.3rem;
  color: #FFFFFF;
}

.layout {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
} 

.layout2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
} 

.layout3 {
  display: flex;
  justify-content: center;
} 

.layout4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
} 

.Drink{
  margin-left: 10px;
}

.retry{
  box-sizing: border-box;
  border-radius: 0.3rem;
  margin: 0 100px;
  margin-top: -10px;

  width: 207px;
  height: 78px;

  background: #131313;
  box-shadow: 0px 0px 20px #FFA0A0;

  /* PLAY */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;

  border: 1px solid #FFD098;
  text-shadow: 0px 0px 15px #FF0000;
  cursor: pointer;
}

.button {
  border: solid 1px #fff;
}