.titlespan{
  position: absolute;
  width: 652px;
  height: 92px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 85px;
  text-align: center;

  color: #FFA149;
  margin-top: 10px;
  margin-left: 2px;
  text-shadow: 0px 0px 30px #FF0000;
}

.smalltitlespan{
  position: absolute;
  width: 624px;
  height: 82px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;
  margin-top: 20px;
  -webkit-text-stroke: 1px #FFA149;
  text-shadow: 0px 0px 30px #FF0000;
}

.ladderForm { 
  width: 54rem;
  margin: 0 auto;
  height: 48.5rem;
  background-color: #000000;
  /* border: solid 10px red; */
  border-radius: 1rem;
}


.box {
  width: 755px;
  height: 500px;
  border-radius: 2rem;
  box-shadow: 0px 0px 30px #FFD687;
  margin: auto;
}

.box2 {
  /* box-sizing: border-box; */
  position: absolu3te;
  width: 755px;
  height: 550px;
  border-radius: 2rem;
  box-shadow: 0px 0px 30px #FFD687;
  margin: auto;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.layout2 {
  display: flex;
  justify-content: center;
  margin-top: 125px;

} 

.layout3 {
  display: flex;
  justify-content: center;
  margin-top: -5px;
} 

.Drink{
  margin-left: 10px;
}

.retry{
  /* box-sizing: border-box; */
  display: block;
  margin: auto;
  margin-top: -110px;
  margin-left: 30px;
  margin-right: 30px;
  width: 150px;
  height: 50px;

  background: #131313;
  box-shadow: 0px 0px 20px #FFA0A0; 
  border-radius: 0.3rem;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;

  border: 1px solid #FFD098;
  text-shadow: 0px 0px 15px #FF0000;
  cursor: pointer;
}

.retry:hover{
  /* box-sizing: border-box;
  border-radius: 0.3rem;
  margin: 0 20px;
  margin-top: -10px; */

  /* width: 207px;
  height: 78px; */

  /* background: #131313;
  box-shadow: 0px 0px 20px #FFA0A0; */

  /* font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center; */

  color: #FFA149;

  border: 1px solid #FFD098;
  text-shadow: 0px 0px 15px #FF0000;
  cursor: pointer;
}


.button {
  border: solid 1px #fff;
}

.text1{
  width: 512px;
  height: 280px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;


  text-align: center;

  color: #FFFFFF;
  display : flex;

  justify-content : center;

  margin-top: 120px;
}