@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
html {
  scroll-behavior: smooth;
}

.fontHanSans {
  font-family: "Black Han Sans";
}

.bgImg {
  background-image: url('../../assets/img/backgroundImg.jpg');
  background-size: contain;
  /* height: 100vh;
  width: 100vw; */
}

.hideScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.trans {
  transform: translateX(0);
  opacity: 1;
}

.neonTitle {
  text-shadow: 5px 5px 10px #960f4e;
}