.titlespan{
    position: absolute;
    width: 651px;
    height: 100px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
  
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img1{
    z-index: 10;
    position: absolute;
    margin-top: 230px;
  }
  
  input.txt {
    width:80px;
  }
  
  .box {
    width: 54rem;
    margin: 0 auto;
    height: 48.5rem;
    background-color: #000000;
    /* border: solid 10px red; */
    border-radius: 1rem;
  }
  
  .box2 {
    position: absolute;
    width: 652px;
    height: 92px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 85px;
    text-align: center;
  
    color: #FFA149;
  
    text-shadow: 0px 0px 30px #FF0000;
  }
  
  .box3 {
  /* 손가락 접기 */
    /* position: absolute; */
    width: 196px;
    height: 36px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  
    color: #FFFFFF;
  
    -webkit-text-stroke: 1px #FFA149;
    text-shadow: 0px 0px 30px #FF0000;
  }
  
  
  .layout {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  } 
  
  .layout2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  } 
  
  .layout3 {
    display: flex;
    justify-content: center;
  } 
  
  .layout4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
  } 
  
  .layout5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    margin-left: 320px;
  } 
  
  .Drink{
    margin-left: 10px;
  }
  
  .retry{
    box-sizing: border-box;
    border-radius: 0.3rem;
    margin: 0 20px;
    margin-top: -10px;
  
    width: 207px;
    height: 78px;
  
    background: #131313;
    box-shadow: 0px 0px 20px #FFA0A0;
  
    /* PLAY */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  
    color: #FFFFFF;
  
    border: 1px solid #FFD098;
    text-shadow: 0px 0px 15px #FF0000;
    cursor: pointer;
  }
  
  .retry:hover{
    box-sizing: border-box;
    border-radius: 0.3rem;
    margin: 0 20px;
    margin-top: -10px;
  
    width: 207px;
    height: 78px;
  
    background: #131313;
    box-shadow: 0px 0px 20px #FFA0A0;
  
    /* PLAY */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  
    color: #FFA149;
  
    border: 1px solid #FFD098;
    text-shadow: 0px 0px 15px #FF0000;
    cursor: pointer;
  }
  
  .button {
    border: solid 1px #fff;
  }