.hideScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.Scroll {
  overflow-y:scroll;
}

.shortBorder {
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  margin: 4px 0px 4px 0px ;
}

.nickNameNeon {
  transition: all 0.5s;
  color: white;
  text-shadow: 0 0 3px #FC5E01,
              0 0 5px #EF6003;
}

.nickNameNeon:hover {
  color: #e19a6a;
  text-shadow: 0 0 3px #FC5E01,
              0 0 5px #EF6003;
}

.menuFriendNeon {
  transition: all 0.5s;
  color: white;
  text-shadow: 0 0 1px #FC5E01,
              0 0 3px #EF6003;
}

.menuFriendNeon:hover {
  color: #e19a6a;
  text-shadow: 0 0 3px #FC5E01,
              0 0 5px #EF6003;
}


.sentenceNeon {
  transition: all 0.5s;
  color: white;
  text-shadow: 0 0 1px #ffee5698,
              0 0 2px #f7ed368a;
}


.createBtn {
  transition: all 0.5s;
  text-shadow: 0 0 5px rgba(0, 26, 255, 0.5),
              0 0 15px rgba(0, 26, 255, 0.5);
}

.createBtn:hover {
  color: rgb(150, 183, 255);
}


.friendRequest {
  transition: all 0.5s;
  color: whitesmoke;
  font-weight: 600;
  text-shadow: 0 0 1px #ffffff;
}

.friendName {
  color: #D8B9FF;
  transition: all 0.5s;
}

.friendName:hover {
  text-shadow: 0 0 3px #7300ff,
              0 0 8px #a962ff,
              0 0 15px #d45dff;
}

@keyframes friendName-blink {
  10% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0.1;
  }
}

.friendRequestName {
  animation: friendName-blink 3s ease-in-out infinite;
}
.friendRequestName:hover {
  animation: none;
}

.friendSendMsg {
  box-shadow: 0 0 3px #ffffff,
              0 0 8px #a962ff,
              0 0 15px #d45dff;
  transition: all 0.5s;
}

.friendSendMsg:hover {
  color: rgb(150, 183, 255);
  box-shadow: 0 0 3px #ffffff,
              0 0 8px #a962ff,
              0 0 35px rgba(0, 26, 255, 0.5);
}


.friendInput {
  color: white;
  caret-color: #D8B9FF;
}


@keyframes blink-effect {
  10% {
    opacity: 10;
  }

  50% {
    opacity: 40;
  }

  60% {
    opacity: 10;
  }
  70% {
    opacity: 30;
  }
  90% {
    opacity: 20;
  }
}

.friednSentence {
  animation: blink-effect 1s step-end infinite;
}

.xBtn {
  color: #ffdcc5;
}

.xBtn:hover {
  color: #EF6003;
  transition: all 0.3s;
}

