label > input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}

.starReview {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.reviewpage {
  transition: all 0.5s;
  color: white;
  text-shadow: 0 0 3px #E6A5FF,
              0 0 5px #FF3E84;
}

.reviewpage:hover {
  color: #34FE4F;
  text-shadow: 0 0 3px #E6A5FF,
              0 0 12px #D1FE49;
}